
body {
    font-family: "Ubuntu", serif, sans-serif;
}

.nav-wrapper {
    margin-top: 10px;
}

.brand-logo {
    margin-right: 10px;
}

.prof-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    height: auto;
    width: 25%;
    padding: 20px;
}

.about-card p {
    font-size: 15px;
    line-height: 1px;
}

#project-cards .card {
    width: 80%;
}

#projects-cards .card-image .card-content {
    text-align: center;
}


@media screen and (max-width: 1000px) {
    .prof-photo {
        width: 50%;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    .prof-photo {
        width: 80%;
        height: auto;
    }
}
