
body {
    font-family: "Ubuntu", serif, sans-serif;
    background-color: rgb(212, 116, 5);
}

#logo-container {
    width: 180px;
    height: 290px;
}

#logo-photo {
    width:150px;
    height: 150px;
    margin-top: 15px;
}

#main-nav {
    width: 220px;
}

#mobile-nav {
    width: 180px;
}


.home-icon {
    padding: 10px;
}

.material-icons {
    font-size: 22px;
    vertical-align: 9px;
}

.prof-photo {
    display: block;
    /* height: auto; */
    /* width: 25%; */
}

.about-card p {
    font-size: 15px;
    line-height: 1px;
}

@media screen and (max-width: 1000px) {
    .prof-photo {
        width: 65%;
        height: auto;
        padding-top: 7px;
    }
}

/* @media screen and (max-width: 800px) {
    .prof-photo {
        width: 80%;
        height: auto;
    }
} */
