
body {
    font-family: "Ubuntu", serif, sans-serif;
    background-color: rgb(50, 115, 141);
}

.brand-logo {
    margin-right: 10px;
}

.home-icon {
    padding: 10px;
}

.material-icons {
    font-size: 22px;
    vertical-align: 9px;
}

.prof-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    height: auto;
    width: 25%;
    padding: 20px;
}
 #about > .card{
     background-color: rgb(25, 43, 65);
 }

.about-card p {
    font-size: 15px;
    line-height: 1px;
}

@media screen and (max-width: 1000px) {
    .prof-photo {
        width: 50%;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    .prof-photo {
        width: 80%;
        height: auto;
    }
}
